.clear {
    clear: both;
}

#bodyWrapper {
    width: 1000px;
    border: 1px solid #000000;
}

#autoCompleteWrapper {
    height: 50px;
    border-bottom: 1px solid #000000;
}

#privateMessageWrapper {
    min-height: 500px;
    border-right: 1px solid #000000;
    width: 249px;
    float: left;
}

#mainWrapper {
    margin: 0 0 0 250px;
}

#tickerWrapper {
    height: 200px;
    border-bottom: 1px solid #000000;
}

#tickerData {
    border: 1px solid #000000;
    border-collapse: collapse;
}
