.clear {
    clear: both;
}

#bodyWrapper {
    width: 1000px;
    border: 1px solid #000000;
}

#autoCompleteWrapper {
    height: 50px;
    border-bottom: 1px solid #000000;
}

#privateMessageWrapper {
    min-height: 500px;
    border-right: 1px solid #000000;
    width: 246px;
    float: left;
    padding: 3px 0 0 5px;
}

#mainWrapper {
    margin: 0 0 0 250px;
}

#tickerWrapper {
    height: 200px;
    border-bottom: 1px solid #000000;
}

table#tickerData,
table#tickerData th,
table#tickerData th td,
table#tickerData tr, td {
    border: 1px solid #000000;
    border-collapse: collapse;
}

table#tickerData th td,
table#tickerData tr, td {
    padding: 2px;
}
table#tickerData {
    width: 300px;
}

.col1 {
    width: 196px;
}

.col2, .col3 {
    width: 50px;
    text-align: center;
}

.pmBox {
    width: 240px;
    border: 1px solid #000000;
    margin-bottom: 2px;
}
.pmTitle {
    border-bottom: 1px solid #000000;
}

.pmTitle:hover {
    background-color: #999999;
    cursor: pointer;
}

.pmBody {
    display: none;
}
